.homepage-h1 {
    text-align: center;
}

body {
    background-color: #f7f7f7;
}

.blogs {
    background-color: #95d3f1;
    color: #000000;
    text-align: center;
    font-size: 65px;
}

.blog-entries {
    background-color: #95d3f1;
    color: #000000;
    text-align: center;
    font-size: 65px;
}

.project-title {
    background-color: #95d3f1;
    color: #ffffff;
    text-align: center;
    font-size: 65px;
}

.contact-greeting {
    text-align: center;
}

.contact-greeting2 {
    text-align: center;
}

.contact-info {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}

.contact-footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    resize: none;
}

.social-media-contact {
    text-align: center;
}

.homepage-footer {
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
}

.home-copyright {
    text-align: center;
    bottom: 0;
    position: fixed;
    resize: none;
    width: 100%;
}

.social-media-home {
    text-align: center;
}